# Ignore all archive folders
_old/

# Ignore the files in output folders, but keep folders
/OUTPUT/IMAGES/MAIN/*
/OUTPUT/IMAGES/AD_HOC/*
/OUTPUT/HTML/*
/INTERMEDIATE/OTHERDATA/*
/INTERMEDIATE/RDATA/*
/INPUT/*
/previous_work/*
/SCRIPTS/xx*

!/OUTPUT/IMAGES/MAIN/.gitkeep
!/OUTPUT/IMAGES/AD_HOC/.gitkeep
!/OUTPUT/HTML/.gitkeep
!/INTERMEDIATE/OTHERDATA/.gitkeep
!/INTERMEDIATE/RDATA/.gitkeep
!/INPUT/.gitkeep

# Ignore R project user info and any potential history files
.Rproj.user
.Rhistory
.Rapp.history

# Ignore thumbs file
Thumbs.db

# Ignore warning file
DO NOT MANUALLY EDIT WITHIN THIS FOLDER.txt